/* cabecalho */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.cabecalho {
  width: 100vw;               
  background-color: #0077ff;
  color: white;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Links do menu */
.cabecalho a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cabecalho a:hover {
  background-color: #519ff8;
}
/* Links do menu */

/* cabecalho */

/* body */

.projeto {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  overflow: hidden;
  background-color: #f8f8f8;
  transition: all 0.3s ease;
}

.projeto-header {
  background-color: #222;
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.projeto-header:hover {
  background-color: #444;
}

.projeto-conteudo {
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  padding: 1rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.btn-github {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #0077ff;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-github:hover {

  background-color: #0365d69a;
}

video{
  border-radius: 8px;
  width: 700px;
}
/* body */

/* @media */
@media (max-width: 600px) {
  .cabecalho {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .cabecalho a {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 0.75rem 0;
  }

  .slider{
    width: 90vw;
  }

  .projeto-conteudo video{
    width: 90vw;
  }
}
/* @media */